@import url('https://fonts.googleapis.com/css?family=Allerta|Unna&display=swap');

// Fonts
$allerta: 'Allerta', sans-serif;
$unna: 'Unna', serif;

// Colours
$light: #eaf1fb;
$dark: #0c1114;
$blue: #8497b3;
$white: #fff;
$grey: #666;
$dark-grey: #333;

// Breakpoints
$mobile: 450px;
$tablet-max: 1024px;
$tablet-min: 451px;
$desktop: 1025px;